<div class="about-me-container" id="about-me">
  <div class="heading-container">
    <h1 [ngsReveal]="bodyConfig">About Me</h1>
  </div>
  <div class="about-me-content" [ngsReveal]="bodyConfig">
      Welcome! I’m a software developer with an interest in web and application development. 
      I grew up in New Delhi, India and have always been interested in software development. 
      I recently graduated from the University of Waterloo with a Bachelor’s of Applied Science in Computer Engineering. 
      As part of my undergraduate degree’s cooperative education program, I have experience working in web development through various companies. 
      You can find more information here. 
      <br/>
      In my spare time, I have completed some side projects. Apart from development, I also like to travel and to drive. 
      <br/>
      If you want to reach out to me, please use the Contact Me section.
  </div>
</div>