<div class="about-me-container">
  <div class="heading-container">
    <h1 [ngsReveal]="bodyConfig">About Me</h1>
  </div>
  <div class="about-me-content" [ngsReveal]="bodyConfig">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin turpis id ex aliquet dictum. 
    Suspendisse felis quam, convallis sit amet malesuada a, suscipit eget lacus. In egestas sit amet velit ac volutpat. 
    Suspendisse quis risus vel risus vehicula efficitur ut ut leo. Fusce nec nunc posuere, vulputate ipsum nec, convallis lectus. 
    Cras maximus diam porta tempus aliquam. Pellentesque tristique sapien id eros rutrum tempor. Cras a ornare est. 
    Vivamus varius aliquam diam, sed aliquam urna lobortis in. Donec quis nunc nisi. Morbi semper odio at tortor placerat commodo.
  </div>
</div>