<div class="about-me-container" id="about-me">
  <div class="left-about-me">
    <div class="heading-container">
      <h1 [ngsReveal]="headingConfig">About Me</h1>
    </div>
    <div class="about-me-content" [ngsReveal]="bodyConfig">
      <p>
        Welcome! I’m a software developer with an interest in web and application development.
        I grew up in New Delhi, India and have always been interested in software development.
        I recently graduated from the University of Waterloo with a Bachelor’s of Applied Science in Computer Engineering.
        As part of my undergraduate degree’s cooperative education program, I have experience working in web development through various companies.
        You can find more information <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="300" href="#work-ex">here</a>.
      </p>
      <p>
        In my spare time, I have completed some side <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="300" href="#proj">projects</a>. Apart from development, I also like to travel and to drive.
      </p>
      <p>
        Click <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="300" href="#proj">here</a> to get in touch.
      </p>
    </div>
  </div>
  <div class="right-about-me-pic" [ngsReveal]="bodyConfig">
      <img src="assets/about-me-pic.jpeg" alt="profile-pic"/>
    </div>
</div>
