.about-me-container {
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 25%;
    display: table;
}

img {
    margin-left: 50%;
    border-radius: 50%;
    width: 80%;
}

.left-about-me {
    float: left;
    width: 70%;
}

.right-about-me-pic {
    float: right;
    width: 30%;
}
