.heading-container{
    background-image: -webkit-linear-gradient(260deg, #E9E9EB 50%, #393E4F 50%);
    padding-top: 10%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 25%;
    color: #FFF;
}
.projects-content{
    min-height: 600px;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 100px;
}
