<div class="contact-me-container" id="contact-me">
  <div class="heading-container">
    <br/>
    <br/>
    <br/>
    <h1 [ngsReveal]="headingConfig">Contact Me</h1>
  </div>
  <div class="contact-me-content" [ngsReveal]="bodyConfig">
    <div class="contact-me-intro">If you have any questions or want to reach out to me, feel free to get in touch!</div>
    <form>
      <div><input #name type="text" placeholder="Name*"/></div>
      <div><input #email type="email" placeholder="Email*" /></div>
      <div><textarea #message placeholder="Message*" rows="5"></textarea></div>
      <div><input #number type="text" placeholder="Phone Number" /></div>
      <div>
        <button (click)="sendEmail()" type='button' [disabled]="!isButtonEnabled">
          <div>
            Send
          </div>
        </button>
      </div>
    </form>
  </div>
</div>
