<div class="project-tile-container">
  <div class="hover-container">
    <div class="project-logo-container">
      <img src="{{project.img}}" class="project-logo"/>
    </div>
    <div class="show-on-hover-container">
      <div class="project-demo-links">
        <span *ngFor="let link of project.links">
          <a href="{{link.ref}}" target="_blank">
            <div class="link-img-container">
              <img [src]="link.type === 'GitHub' ? 'assets/github.svg' : 'assets/demoIcon.png'" class="link-img"/>
            </div>
          </a>
        </span>
      </div>
      <div class="project-tech">
        <span *ngFor="let tech of project.technologies; let i = index">
          {{tech}}
          <span *ngIf="i < project.technologies.length - 1"> | </span>
        </span>
      </div>
    </div>
  </div>
  <div class="project-name">{{project.name}}</div>
  <div class="project-description">{{project.description[0]}}</div>
</div>
