<app-work-ex-timeline-entry (expand)="onExpandEntry($event)" class="{{getAlternate() ? 'alternate' : ''}}">
  <app-work-ex-timeline-entry-header class="{{isExpanded ? 'job-header' : 'job-header header-not-expanded'}}">
    <div>{{job.company}}</div>
    <div style="font-style: italic">{{job.jobTitle}}</div>
  </app-work-ex-timeline-entry-header>
  <app-work-ex-timeline-entry-content class="job-content">
    <div>
      <div class="job-subtitle">
        <p class="job-technologies">{{techString}}</p>
        <p class="job-times">{{startAndEndDate}}</p>
      </div>
      <br/>
      <div class="job-description">
        <ul>
          <li *ngFor="let desc of job.description">
            {{desc}}
          </li>
        </ul>
      </div>
    </div>
  </app-work-ex-timeline-entry-content>
  <app-work-ex-timeline-entry-dot class="{{isExpanded ? 'primary-circle' : 'primary-circle circle-not-expanded'}}"
                          [size]="30"
                          [isAlternate]="getAlternate()">
  </app-work-ex-timeline-entry-dot>
</app-work-ex-timeline-entry>
