.home-container{
    margin-top: 56px;
    background-color: #E9E9EB;
    background-image: -webkit-linear-gradient(80deg, #E9E9EB 50%, #393E4F 50%);
    min-height: 700px;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
}

.name-container{
    color: #FFF;
    font-size: 4rem;
}